<!doctype html>
<html lang="en">

<body>

	<h2>Example of New Course with Function Controller</h2>
	
	<div>
		<form name="myForm">
			<br />
			Codigo: <input name="code" data-ng-model="ourse" required>
			Descripcion: <input data-ng-model="description">
			Tipo: <input data-ng-model="type">
			Cargos: 
			Gestion: <input data-ng-model="managerOrganisation">
			Existe Temario: <input data-ng-model="place">
			Material: <input data-ng-model="initDate">
			Descripcion del material: <input data-ng-model="endDate">
			
			<button data-ng-click="fillIn()">Rellenar</button>
			
		</form>
	</div>

</body>

</html>